.poke {
  width: 3rem;
}

.pokeball {
  width: 3rem;
  float: left;
  /* margin-right: 1rem; */
  padding-top: 1.4rem;
}

.title {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

body {
  /* background-color: #fe7171; */
  background-image: linear-gradient(90deg, rgb(250, 160, 160),#fe7171);
  /* background-color: rgba(255, 255, 255, 0.25); */
  color: #fff;
  
}

.brand {
  margin-left: 1rem;
  margin-top: 1.4rem;
}

.srch {
  padding-top: 15%;
  /* width: 5rem; */
  /* margin-left: 35rem; */
}

.srch-btn {
  float: right;
  /* border-style: dotted; */
}

.normal {
  background: #BABAAE;
}

.fighting {
  background: #A75543;
}

.flying {
  background: #78A2FF;
}

.poison {
  background: #A95CA0;
}

.ground {
  background: #EECC55;
}

.rock {
  background: #CCBD72;
}

.bug {
  background: #C2D21E;
}

.ghost {
  background: #7975D7;
}

.steel {
  background: #C4C2DB;
}

.fire {
  background: #FA5643;
}

.water {
  background: #56ADFF;
}

.grass {
  background: #8CD750;
}

.electric {
  background: #FDE139;
}

.psychic {
  background: #FA65B4;
}

.ice {
  background: #96F1FF;
}

.dragon {
  background: #8673FF;
}

.dark {
  background: #8D6855;
}

.fairy {
  background: #F9AEFF;
}

.type {
  padding: .5rem;
  width: 8rem;
  border-style: solid;
  margin-top: 1rem;
  border-color: #000;
}

.move {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000;
  color: #fff;
  
}

.move-table {
  display: flex;
  justify-content: center;
}

.tbody {
  background-color: rgb(102, 93, 93);
}

.name {
  margin-bottom: 10rem;
}

.tbl {
  width: 25rem;
  border-style: solid;
  border-width: 1px;
}

.table-data {
  border-left-width: 1px;
  border-left-style: solid;
}

.img {
  width: 15rem;
  display: flex;
  justify-content: center;

}

.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.fail {
  text-align: center;
  margin-top: 15rem;
}

