<section class="colored-section" id="title">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">Poképedia <img class="poke" src="https://www.flaticon.com/svg/static/icons/svg/287/287221.svg" alt="Pokeball" class="replaced-svg"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <form action="/pokemon" class="form-inline ml-auto" method="post">
                <div class="md-form my-0">
                    <input class="form-control" type="text" placeholder="Pokemon Name" aria-label="Search" name="pokeName">
                </div>
                <button href="#!" id="submitButton" class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit">Search</button>
                </form>
        </nav>
    </div>
</section>