<%- include("partials/header.ejs") %>

<%- include("partials/nav.ejs") %>

<section class="colored-section" id="content">
    <div class="container">
        <div class="row srch">
                <div class="title col-lg-12">
                    <!-- <img class="pokeball"src="https://www.flaticon.com/svg/static/icons/svg/287/287221.svg" alt="Pokeball" class="replaced-svg">   -->
                    <h1 class="brand"> Poképedia</h1>
                </div>
                
                <div class="col-lg-12">  
                    <form action="/pokemon" class="mr-auto" method="post">
                        <input class="form-control mr-sm-2" id="sbm" type="text" placeholder="Enter Pokedex ID of Pokemon" aria-label="Search" name="pokeName">
                        <button class="btn btn-primary btn-rounded btn-sm my-0 srch-btn" type="submit">Search</button>
                    <form action="/pokemon" class="mr-auto" method="post">
                </div>
                    
                    
                
            </form>
        </div>
    </div>
</section>
<%- include("partials/footer.ejs") %>