<%- include("partials/header.ejs") %>

<%- include("partials/nav.ejs") %>

<section class="colored-section" id="content">
    <div class="container-fluid">
        <form action="/pokemon" class="mr-auto srch" method="post">
            <div class="title">
                <img class="pokeball"src="https://www.flaticon.com/svg/static/icons/svg/287/287221.svg" alt="Pokeball" class="replaced-svg">  
                <h1 class="brand"> Poképedia</h1>
            </div>
            <input class="form-control mr-sm-2" id="sbm" type="text" placeholder="Enter ID or name of Pokemon" aria-label="Search" name="pokeName">
            <button class="btn btn-primary btn-rounded btn-sm my-0 srch-btn" type="submit">Search</button>
        </form>
    </div>
</section>
<%- include("partials/footer.ejs") %>